body {
    padding-top: 50px;
    padding-bottom: 20px;
    /* background-color: #2f4f4f; */
    /* background-image: url("~/Content/Images/cumple.png"); */
    background-image:url(./Images/backgroundimage.jpg);
    background-repeat:no-repeat;    
    background-size:cover;
    /* font-size: .75em; */
    font-family: Sans-Serif,Verdana,Helvetica;
    margin: 0;
    /* padding: 0; */
    color: black; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px Green;
  border-collapse: collapse;
  width: 1110px;
}

table td 
{
  padding: 5px;   
  border: solid 1px Green;
  color: Black;
  background-color: #F3F884;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: Navy; 
  color: White;
  border: solid 1px Green;   
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 560px;
}


