<!doctype html>
<html>
	<head>	
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <title>My Book Library</title>
	 <style>
	    .booktable
		{
			position: absolute;
			top: 0px;
			left: 50%;
			transform: translateX(-50%);
		}
		td
		{
			border: 1px solid green;
			color: yellow;// rgb(102, 255, 102); 
			background-color: rgb(0, 0, 102); //dark blue
			height: 25px;
			padding: 10px;
			font-weight: bolder;
			font-size: 18px;
		}
	 </style>
	</head>
<body>
	<br />
	<br />
	<br />
	<h1 align="center">Books Database</h1>
	<br />
	<div class="booktable">	
		<table>
			<tr>
				<td width="150">ISBN</td><td style="background-color:rgb(255, 255, 153);color: navy;" "width="1200"></td><br /> 
			</tr>
			<tr>
				<td width="150">Title</td><td style="background-color:rgb(255, 255, 153);color: navy; "width="1200"></td><br />			
			</tr>
			<tr>
				<td width="150">Author</td><td style="background-color:rgb(255, 255, 153);color: navy; "width="1200"></td><br />
			</tr>
			<tr>
				<td width="150">Email</td><td style="background-color:rgb(255, 255, 153);color: navy;" width="1200"></td><br />
			</tr>
			<tr>
				<td width="150">Publisher</td><td style="background-color:rgb(255, 255, 153);color: navy; "width="1200"></td><br />			
			</tr>
			<tr>
				<td width="150">Website</td><td style="background-color:rgb(255, 255, 153);color: navy;" width="1200"></td><br />			
			</tr>
			<tr>
				<td width="150">Topic</td><td style="background-color:rgb(255, 255, 153);color: navy;" width="1200"></td><br />
			</tr>
			<tr>
				<td width="150">Subtopic</td><td style="background-color:rgb(255, 255, 153);color: navy;" width="1200"></td><br />			
			</tr>
			<tr>
				<td width="150">Price</td><td style="background-color:rgb(255, 255, 153);color: navy;" width="1200"></td><br />
			</tr>
		</table>
	</div>
</body>
</html>