<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Books Library</title>
</head>
<body>
    <form action="{{url_for('gfg')}}" method="post">
        <label for = "firstname">First Name:</label><br />
        <input type="text" id="firstname" name="fname" placeholder="First Name"><br />
        <label for = "lastname">Last Name:</label><br />
        <input type="text" id="lastname" name="lname" placeholder="Last Name"><br />
        <button type="submit">Login</button>
    </form>
</body>
</html>